<html>
  <head>
    <title>Logging In!</title>
    <style>
      #header {
        background-color: white;
        text-align: center;
        font-family: Courier, monospace;
      }
      body {
        background-color: lightgrey;
        font-family: Courier, monospace;
      }
      form {
        text-align: center;
        font-family: Courier, monospace;
      }
    </style>
  </head>
  <body>
    <h1 id = header>Sign in below</h1><br>
    <form method = "POST">
      Username: <input type = "text" name = "user_name">
      <input type = submit>
    </form><br>
  </body>
</html>
