<html>
  <head>
    <title>Info of User</title>
    <style>
    body {
      background-color: lightgrey;
      text-align: center;
      font-family: Courier, monospace;
    }
    h1 {
      background-color: white;
      text-align: center;
      font-size: 1.5em
      font-family: Courier, monospace;
    }
    </style>
  </head>
  <body>
    <h1>Hi! Enter a new username below</h1>
    <br><br>
    <form method = "POST">
      Username: <input type = "text" name = "new_user">
    <input type = submit>
    </form>
  <br>
  </body>
</html>
